.help-us-improve-button {
  background: none;
  border-style: none;
  color: #fff;
  font-weight: bold;
  outline: none;
}

.help-us-improve {
  &-appear, &-enter {
    opacity: 0;
    transform: translateX(-20px);
  }

  &-enter-done {
    opacity:1;
    transform: translateX(0px);
    transition: all 500ms ease-in-out;
  }
}


