@import '../../../styles/variables';
@import '../../../styles/mixins';

.root {
  @include generate-emoji($emoji-height-width-default);
  font-size: 1.5rem; // Setting base relative to container for all child components

  &.container-animation-step-0 {
    transition: width $animation-step-2-duration ease-in-out;
    width: $emoji-height-width-default;    
    font-size: $emoji-height-width-default;
  }

  &.container-animation-step-1 {
    transition: width $animation-step-2-duration ease-in-out;
    width: $emoji-height-width-default + 250;
  }

  &.container-animation-step-2 {
    width: 100%;
    height: 200px;
    border-radius: $app-border-radius;
    background: #fff;
    box-shadow: none;
    transition: all 0.25s ease-in;
  }

  &.container-animation-step-3 {
    
  }
}



