@import '../../styles/variables';
@import '../../styles/mixins';

.heading {
  &_appear, &_enter {
    opacity: 0;
    transform: translateY(-20px);
  }

  &_enter_done {
    opacity: 1;
    transform: translateY(0px);
    transition: all 500ms ease-in-out;
  }
}

.headingText {
  composes: margin-bottom-0 text-center margin-top-0 from '../../styles/_utility.scss';
}


.selector {
  &_appear, &_enter {
    opacity: 0;
    transform: translateY(-20px);
  }

  &_enter_done {
    opacity: 1;
    transform: translateY(0px);
    transition: all 1s ease-in-out;
  }
}

.onRatingReceived {
  display: flex;
  align-items: center;
  .emojiWrapper {
    @include generate-emoji($emoji-height-width-default);
    margin-right: 15px;
    [role="img"] {      
      font-size: $emoji-height-width-default;
    }
  }
}
