$app-background-base: rgb(73,142,239);

$app-wrapper-height-lg: 700px;
$app-wrapper-width-lg: 400px;

$app-wrapper-height-xs: 100%;
$app-wrapper-width-xs: 100%;

$app-wrapper-height-md: 80%;
$app-wrapper-width-md: 500px;