@import '../../styles/variables';

.button {
  background: none;
  border-style: none;
  color: $off-white;
  font-weight: bold;
  outline: none;

  &Appear, &Enter {
    opacity: 0;
    transform: translateX(-20px);
  }

  &EnterDone {
    opacity:1;
    transform: translateX(0px);
    transition: all 500ms ease-in-out;
  }
}

