@import '../../styles/variables';
@import '../../styles/mixins';

.button {
  background: none;
  border-style: none;
  color: $off-white;
  font-weight: bold;
  outline: none;
  white-space: nowrap;

  &Appear, &Enter {
    opacity: 0;
    transform: translateX(-20px);

    /* smartphones, touchscreens */
    @media (hover: none) and (pointer: coarse) {
      display: none;
    }
  }

  &EnterDone {
    opacity:1;
    transform: translateX(0px);
    transition: all 500ms ease-in-out;
     /* smartphones, touchscreens */
     @media (hover: none) and (pointer: coarse) {
      display: block;
    }
  }
}

