@import './styles/normalize';
@import './styles/variables';

:global {
  html, body {
    color: $app-font-color;
    height: 100%;
    max-height: 100%;
  }
}

@media (hover: none) and (pointer: coarse) {
  background: $app-background-base;
  background: linear-gradient(180deg, $app-background-base 0%, $app-background-base 16%, lighten($app-background-base, 10) 100%);
}
  

    